@import 'colors';

body {
    background-color: $bg;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: $nav;
    width: 100%;
    padding: 1em 4em;
    margin: 0 0 2em 0;
    h4 {
        font-size: 2em;
        color: $nav-title;
    }
}


.card {
    border: 1px solid gray;
    border-radius: 10px;


    img {
        object-fit: cover;
    }
}

footer {
    padding: 2em 4em;

}