@import 'colors';

body {
    background-color: $bg;
    margin: 0;
    padding: 0;
    //background-image: url('../images/image-op-2.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar {
    background-color: $nav;
    width: 100%;
    padding: 1em 4em;
    margin: 0 0 2em 0;
    h4 {
        font-size: 2em;
        color: $nav-title;
    }
}


.card {
    border-radius: 10px;
    width: 16rem;
    cursor: pointer;
    img {
        object-fit: cover;
    }

    &:hover {
        box-shadow: 5px 5px 5px $gray;
    }
}

.placeholder-img {
    height: 10em;
    background-color: $gray;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}
.page-link {
    color: $link;
    &:hover{
        color: $link;
    }
}

footer {
    padding: 2em 4em;

}